-
    let menu = [
        {
            title: 'О компании',
            selector: '.about-us'
        },
        {
            title: 'Успешные инвесторы',
            selector: '.reviews'
        },
        {
            title: 'Часто задаваемые вопросы (FAQ)',
            selector: '.faq'
        },
        {
            title: 'Контакты',
            selector: 'footer'
        }
    ]

mixin Navbar(black)
    .navbar
        .container
            if (black == true)
                img.logo(src="/assets/images/logo-white.png")
            else
                img.logo(src="/assets/images/logo.png")
            .menu-wrapper
                each item in menu
                    a(href="#" ancore=item.selector)= item.title
            a.btn(href="") Войти
            +BtnMenu()

mixin MobileMenu()
    .mobile-menu
        button.close-menu
        .menu-wrapper
            each item in menu
                a(href="#" ancore=item.selector)= item.title
            a.btn(href="") Войти
